html {
    background-color: sienna;
    color: aqua;
    font-family: "Roboto Light";
}

body {
    width: auto;
    margin: auto;
    background-color: aliceblue;
    padding: 8px;
}

p em {
    color: dodgerblue;
}


#title_heading {
    color: #7fe1d4;
    font-family: "Comic Sans MS";
}

#headerbody {
    background-color: darkslategrey;
    padding: 12px;
    border-radius: 12.5px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.buttonarea {
    text-align: center;
    border-radius: 25px;
    padding: 8px;
    color: teal;
    border: royalblue;
}

