html {
  background-color: #002b36;
  font-family: Calibri, serif;
}

body {
  width: auto;
  margin: auto;
  padding: 8px;
}

header {
  background-color: #073642;
  color: #93a1a1;
  font-family: "Comic Sans MS", serif;
  padding: 12px;
  border-radius: 12px 12px 4px 4px;
}

nav {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navbar-pseudobutton {
  text-align: center;
  border-radius: 65536px;
  padding: 2%;
  width: 16%;
  color: darkturquoise;
  border: #2f4f4f;
  background-color: darkslategrey;
  font-family: Calibri, serif;
  font-size: large;
  cursor: pointer;
}

/*
I'm aware that some of these are redundant but it doesn't actually
 matter seeing as CSS and HTML don't have proper, standardised conventions (iirc)
*/

.navbar-pseudobutton a {
  color: darkturquoise;
}

.navbar-pseudobutton a:link {
  color: #02c8ca;
}

.navbar-pseudobutton a:visited {
  color: #03ced1;
}

.navbar-pseudobutton:hover {
  background-color: #3a6262;
}

.navbar-pseudobutton:active {
  background-color: #5e9e9e;
}

.navbar-pseudobutton:focus {
  border-color: royalblue;
}

main {
  background-color: #586e75;
  padding: 48px;
  border-radius: 32px;
}

main h2 {
  color: #eee8d5;
  font-size: x-large;
}

#contents {
  background-color: #046e78;
  padding: 48px;
  border-radius: 32px;
  border: 4px solid crimson;
  border-collapse: collapse;
}

#contents th,
td {
  border: 1px solid #000;
  padding: 5px;
}

footer {
  background-color: #fae7c8;
  border-radius: 12px;
  padding: 16px;
}

footer p {
  color: #d33682;
  padding: 4px;
}

#cards {
  padding: 20px;
}

article {
  text-align: center;
  padding: 20px;
  color: blueviolet;
  border: 2px dashed #2f4f4f;
  background-color: deeppink;
  font-family: Garamond, serif;
  font-size: medium;
}

.last-val {
  font-size: smaller;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
