<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Site</title>
    <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css">
    <script type = "text/javascript" src = "../static/js/utils.js"></script>
</head>
<body>
<header>
    <h1>Site</h1>
</header>
    <header>
        <h1>Site</h1>
    </header>
    <nav>
        <a class = "navbar-pseudobutton" href = "/">Home</a>
        <a class = "navbar-pseudobutton" href = "contact">meme site</a>
        <form method="POST" action="/search">
            <input type="text" name="search" id="search">
            <input type="submit">
        </form>

    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <p>&copy; Aaron Lowe, 2022</p>
    </footer>
</body>
</html>
