<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Yu-Gi-Oh! Data</title>
    <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css">
</head>
<body>
<header>
    <h1>Homepage</h1>
</header>
<nav>
    <a class = "navbar-pseudobutton" href = "/">Home</a>
    <a class = "navbar-pseudobutton" href = "table">List all data in table format</a>
    <a class = "navbar-pseudobutton" href = "card">List all data in card format</a>
    <form method = "POST" action = "/search">
        <label for = "search"></label><input type = "text" name = "search" id = "search">
        <input type = "submit">
    </form>

</nav>
<main>
    {% block main %}{% endblock %}
</main>
<footer>
    <p>&copy; Aaron Lowe, 2022</p>
</footer>
</body>
</html>
