{% extends "base.html" %}

{% block main %}
    <h2>{{ title }}</h2>
    <body>
    <div id = "cards">
        {% for val in values %}
            <article>
                {% for i in val %}
                    {% if loop.index == 1 %}
                        <p>
                            {{ keys[loop.index - 1] }}:
                        <pre><code>{{ i }}</code></pre>
                        </p>
                    {% elif i == val[-1] %}
                        <p class = "last-val">{{ keys[loop.index - 1] }}: {{ i }}</p>
                    {% else %}
                        <p>{{ keys[loop.index - 1] }}: {{ i }}</p>
                    {% endif %}
                {% endfor %}
            </article>
        {% endfor %}
    </div>
    </body>
{% endblock %}
