{% extends "base.html" %}

{% block main %}
    <h2>{{ title }}</h2>
    <table>
        <caption>{{ title }}</caption>
        <thead>
        <tr>
            {% for key in keys %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for val in values %}
            <tr>
                <!-- TODO: I'm not assessed on backend code quality, just on the database/frontend, so I should remove
                        this and use numbers instead, and add a scroll box to the description part (for the cards thing too)-->
                {% for i in val %}
                    {% if i == val[0] %}
                        <td><pre><code>{{ i }}</code></pre></td>
                    {% elif i == val[-1] %}
                        <td><p>{{ i }}</p></td>
                    {% else %}
                        <td>{{ i }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>
{% endblock %}
