{% extends "base.html" %}

{% block main %}
    <h2>{{ title }}</h2>
    <body>
    <table>
        <caption>{{ title }}</caption>
        <thead>
        <tr>
            {% for key in keys %}
                {% if raw_keys[loop.index - 1] in sortables %}
                    <th><a href = "?sort-by={{ raw_keys[loop.index - 1] }}">{{ key }}</a></th>
                {% else %}
                    <th>{{ key }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for val in values %}
            <tr>
                {% for i in val %}
                    {% if i == val[0] %}
                        <td>
                            <pre><code>{{ i }}</code></pre>
                        </td>
                    {% elif i == val[-1] %}
                        <td><p class = "last-val">{{ i }}</p></td>
                    {% else %}
                        <td>{{ i }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <br>
        </tfoot>
    </table>
    </body>
{% endblock %}
