{% extends  "base.html" %}


{% block main %}
    <h2>Welcome!</h2>
    <p>This is the index page for the site that displays the Yu-Gi-Oh! dataset in various forms. Use the navigation bar
       buttons to go to the pages which display the data, or take a look at all of the <a href = "/table/fire">Fire</a>,
        <a href = "/table/wind">Wind</a>, <a href = "/table/earth">Earth</a>, <a href = "/table/water">Water</a>, <a
                href = "/table/light">Light</a>, and <a href = "/table/trap">Trap</a> cards! </p>
{% endblock %}
