name: Qodana
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

permissions:
  contents: read
  
jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ce396f501c5992abfa972a7afeb784989f3fcf73
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@4ea5e96ccb42bee5378ec0b11ca8e759426edd7e
        with:
          linter: jetbrains/qodana-python
